.w {
    width: 1240px;
    margin: 0 auto;
}

#Jin_header {
    width: 100%;
}

#Jin_header .header_inner {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 80px;
}

#Jin_header .top_content {
    width: 1240px;
    margin: 0 auto;
    /* background: pink; */
}

#Jin_header .left_logo {
    float: left;
}

#Jin_header .left_logo a {
    display: block;
    width: 125px;
    height: 24px;
    padding: 28px 0;
    float: left;
    color: black;
}

#Jin_header .left_logo a svg {
    width: 100%;
    height: 100%;
}

#car {
    width: 29px;
    height: 29px;
    display: block;
    float: right;
    margin: 27px 0 0 8px;
    font-size: 24px;
    position: relative;
    color: black;
}

#car span {
    color: white;
    background: red;
    height: 15px;
    display: inline-block;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    text-align: center;
    line-height: 15px;
    right: -2px;
    top: -5px;
}

#car .Jin_car_hide {
    width: 318px;
    min-height: 120px;
    background: #fff;
    position: absolute;
    left: -300px;
    top: 40px;
    font-size: 12px;
    display: none;
}

#car .car_content {
    margin-left: 80px;
    margin-top: 40px;
}

#car img {
    float: left;
}

#car strong {
    color: #ccc;
    margin-left: 10px;
}

#car i {
    color: #ccc;
    margin-left: 10px;
}

.user {
    float: right;
    cursor: pointer;
    font-size: 24px !important;
    padding: 27px 0 0 8px;
    color: #fff;
    position: relative;
}

.Jin_User_hide {
    background: #fff;
    width: 80px;
    height: auto;
    position: absolute;
    top: 65px;
    left: -20px;
    display: none;
}

.Jin_User_hide li {
    text-align: center;
    padding: 5px 0;
}

.Jin_User_hide li a {
    font-size: 12px;
}

.Jin_User_hide li a:hover {
    color: #00c3f5;
}

.serch {
    width: 170px;
    height: 30px;
    margin: 26px 5px 0 10px;
    float: right;
    border-radius: 20px;
    position: relative;
    border: 1px solid #999;
    background: #fff;
}

.serch input {
    width: 127px;
    height: 20px;
    padding: 0;
    outline: 0;
    border: 0;
    position: absolute;
    top: 5px;
    left: 10px;
}

.serch a {
    float: right;
    margin-top: 7px;
    margin-right: 12px;
}

.phone_nav {
    float: right;
}

.phone_nav li {
    float: left;
}

.phone_nav li a {
    display: block;
    padding: 31px 20px 30px;
    line-height: 21px;
    font-size: 14px;
    color: #fff;
}

.phone_nav li a:hover {
    color: #00c3f5;
}

.Jin_hide_content {
    width: 100%;
    position: absolute;
    z-index: 1999;
    background: #fff;
    display: none;
    top: 80px;
}

.Jin_hide_content .Jin_hide_inner {
    height: 181px;
    margin: 0 auto;
    z-index: 2000;
}

.Jin_hide_content .Jin_hide_inner ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.Jin_hide_content .Jin_hide_inner ul li {
    float: left;
    text-align: center;
}

.Jin_hide_content .Jin_hide_inner ul li a {
    width: 142px;
    height: 140px;
    font-size: 12px;
    display: block;
    cursor: pointer;
}

.Jin_hide_content .Jin_hide_inner ul li a img {
    width: 100%;
    height: 100%;
}

.Jin_hide_content_ding {
    width: 100%;
    position: absolute;
    background: #fff;
    z-index: 1000;
    top: 80px;
    display: none;
}

.Jin_hide_content_ding .Jin_hide_inner_ding {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.Jin_hide_content_ding .Jin_hide_inner_ding a {
    display: block;
    width: 125px;
    height: 28px;
    position: absolute;
}

.Jin_hide_content_ding .Jin_hide_inner_ding a img {
    width: 100%;
    height: 100%;
}

.Jin_hide_content_ding .Jin_hide_inner_ding .android_one {
    top: 200px;
    left: 400px;
}

.Jin_hide_content_ding .Jin_hide_inner_ding .android_two {
    top: 200px;
    right: 100px;
}

.Jin_hide_content_ding .Jin_hide_inner_ding img {
    height: 300px;
}

#Jin_footer {
    width: 100%;
}

#Jin_footer .f_top {
    padding-top: 30px;
    border-bottom: 1px solid #eee;
}

#Jin_footer .f_top .f_nav {
    width: 1000px;
    margin-top: 10px;
    padding-bottom: 30px;
    float: left;
}

#Jin_footer .f_top .f_nav li {
    width: 16%;
    text-align: center;
    float: left;
}

#Jin_footer .f_top .f_nav li a {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
}

#Jin_footer .f_top .f_nav li a span {
    color: #ccc;
    font-size: 14px;
}

#Jin_footer .f_top .f_nav li a img {
    width: 50px;
}

#Jin_footer .f_timer_right {
    text-align: right;
    float: right;
}

#Jin_footer .f_timer_right .time {
    font-size: 12px;
    color: #ccc;
    line-height: 24px;
}

#Jin_footer .f_timer_right strong {
    color: #00c3f5;
    font-size: 26px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 8px;
}

#Jin_footer .f_timer_right a {
    display: block;
    width: 88px;
    height: 33px;
    background: #00c3f5;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    line-height: 33px;
    float: right;
    margin-top: 9px;
}

#Jin_footer .f_bottom {
    padding-top: 30px;
    padding-bottom: 10px;
    color: #ccc;
}

#Jin_footer .f_bottom a {
    color: #ccc;
    font-size: 12px;
    margin-right: 20px;
    padding-bottom: 10px;
}

#Jin_footer .f_bottom .icon-zhongguo {
    font-size: 18px;
    color: red;
}

#Jin_footer .f_bottom .icon-zhongguo:hover .chinese {
    color: #000;
}

#Jin_footer .f_bottom .chinese:hover {
    color: #000;
}

#Jin_footer .f_bottom a:hover {
    color: #00c3f5;
}

#Jin_footer .f_f_copyright {
    color: #ccc;
    padding-bottom: 30px;
}

#Jin_footer .f_f_copyright a {
    color: #ccc;
}

#Jin_footer .f_f_copyright a:hover {
    color: #00c3f5;
}

#Jin_footer .right_title_four {
    float: right;
}

#Jin_footer .right_title_four a {
    margin-right: 10px;
    font-size: 18px;
}

#Jin_footer .right_title_four .icon-xiaochengxu-copy:hover {
    color: green;
}

#Jin_footer .right_title_four .xiaochengxu {
    position: relative;
}

#Jin_footer .right_title_four .xiaochengxu img {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -190px;
    right: -120px;
    display: none;
}

#Jin_footer .right_title_four .weixin {
    position: relative;
}

#Jin_footer .right_title_four .weixin img {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -190px;
    right: -80px;
    display: none;
}

#Jin_footer .right_title_four .icon-icon:hover {
    color: green;
}

#Jin_footer .right_title_four .icon-weibo:hover {
    color: red;
}

#Jin_footer .right_title_four .icon-qzone:hover {
    color: yellow;
}


/*# sourceMappingURL=Jin_header.css.map */