* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* li {
    list-style: none;
} */

body {
    background-color: #fff;
}

.header {
    width: 100%;
    height: 68px;
}

.header-mid {
    width: 1240px;
    height: 68px;
    margin: 0 auto;
    /* background-color: #cfcc; */
    position: relative;
}

.header-mid .logo {
    display: block;
    width: 110px;
    height: 20px;
    background: url(../images/jy_base.png) -2px -4px no-repeat;
    cursor: pointer;
    position: absolute;
    top: 23px;
}

.con {
    width: 1240px;
    margin: 0 auto;
    /* background-color: #ffc; */
}

.tab-title {
    text-align: center;
}

.tab-title h1 {
    height: 35px;
    margin-top: 55px;
    margin-bottom: 45px;
    font-size: 26px;
    color: #010101;
    font-weight: 600;
}

.progress-bar {
    width: 744px;
    /* background-color: #fcf; */
    margin: 0 auto;
}

.progress-bar .graph {
    height: 24px;
}

.progress-bar .graph .circle {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #ccc;
    color: #fff;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    float: left;
}

.progress-bar .graph .one{
    background-color: #387aff;
}

.progress-bar .graph .progress {
    display: block;
    width: 218px;
    height: 10px;
    background-color: #ccc;
    float: left;
    margin: 7px -1px;
}

.progress-bar .textbox {
    margin-top: 10px;
    height: 30px;
    /* line-height: 30px; */
    position: relative;
    /* background-color: #09c; */
}

.progress-bar .textbox span {
    font-size: 16px;
    color: #000;
    position: absolute;
}

.progress-bar .textbox .type {
    top: 0;
    left: -36px;
}

.progress-bar .textbox .idmsg {
    top: 0;
    left: 219px;
}

.progress-bar .textbox .materials {
    top: 0;
    right: 204px;
}

.progress-bar .textbox .rewpwd {
    top: 0;
    right: -20px;
}

.ipt {
    margin: 50px auto 0;
    width: 400px;
}

.ipt .chk{
    background: url(../images/jy_elements.png)no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    background-position: 0 -128px;
    vertical-align: -1px;
    margin-right: 3px;
    cursor: pointer;
    user-select: none;
}

.ipt .text{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.ipt .tip{
    opacity: .4;
    font-weight: 500;
    font-size: 14px;
    margin-left: 26px;
}

.ipt .other input{
    width: 230px;
    height: 40px;
    padding: 0 15px;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ipt .other .pwd-tip{
    font-size: 14px;
    color: #de3131;
    margin-top: 6px;
    margin-left: 137px;
    visibility: hidden;
}

.ipt .rew{
    margin-top: 25px;
}

.ipt .other{
    margin-top: 25px;
}

.link {
    width: 290px;
    margin: 50px auto 30px;
    text-align: center;
}

.next-step {
    width: 290px;
    height: 36px;
    background-color: #387aff;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}
