* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    height: 100%;
    background: url(../images/jy_pic-flyme.png)no-repeat;
    background-size: cover;
    /* 让图片随屏幕大小同步缩放，但是有部分可能会被裁切，不过不至于会露白。 */
    background-position: -50px 0;
    /* 图片的位置，居中，靠左对齐 */
    background-color: #fff;
}

.header {
    width: 100%;
    height: 68px;
}

.header-mid {
    width: 1240px;
    height: 68px;
    margin: 0 auto;
    /* background-color: #cfcc; */
    position: relative;
}

.header-mid .logo {
    display: block;
    width: 110px;
    height: 20px;
    background: url(../images/jy_base.png) -2px -4px no-repeat;
    cursor: pointer;
    position: absolute;
    top: 23px;
}

.con {
    width: 1240px;
    margin: 0 auto;
    position: relative;
}

.box {
    width: 298px;
    /* height: 400px; */
    position: absolute;
    top: 16%;
    right: 85px;
    background-color: rgb(255, 255, 255);
    padding: 72px 35px 20px;
    border-radius: 2px;
    box-shadow: 0 6px 12px 0 rgba(138, 153, 150, 0.15);
}

.tab-title {
    text-align: center;
}

.tab-title a {
    color: #387aff;
    font-size: 18px;
    line-height: 40px;
}

.tip-box {
    width: 300px;
    height: 30px;
    font-size: 12px;
    background-color: #FFD1CA;
    margin-top: 20px;
    color: #666;
    position: relative;
    visibility: hidden;
}

.tip-box .err {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../images/jy_error-ico.png)no-repeat;
    position: absolute;
    top: 8px;
    left: 10px;
}

.tip-box .text {
    display: block;
    float: left;
    width: 268px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
}

.tip-box .close {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../images/jy_close-ico.png)no-repeat;
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
}

.text-box {
    width: 298px;
    height: 40px;
    border: 1px solid #DDD;
    margin-top: 20px;
}

.text-box .area {
    width: 70px;
    height: 40px;
    cursor: pointer;
    float: left;
    border-right: 1px solid #ddd;
    position: relative;
}

.text-box .area .area-num {
    width: 298px;
    height: 200px;
    display: none;
    position: absolute;
    top: 45px;
    left: -1px;
    line-height: 30px;
    background: #FFF;
    border: 1px solid #E8E8E8;
    overflow-x: hidden;
    overflow-y: auto;
    color: #666;
}

.text-box .area .area-num ul {
    overflow-x: hidden;
    overflow-y: auto;
}

.text-box .area .area-num ul li {
    line-height: 30px;
    padding: 0 10px;
}

.text-box .area .area-num ul li:hover {
    background-color: #eee;
}

.text-box .area .area-num ul li span {
    float: right;
}

.text-box .area .area-num .text {
    cursor: text;
}

.text-box .area input {
    border: none;
    width: 50px;
    /* background-color: #ccf; */
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: #666;
    line-height: 40px;
    float: left;
    cursor: pointer;
    outline: 0;
}

.text-box .area .arrow-down {
    background: url(../images/jy_arrow-down.png)no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
}

.text-box .phone-ipt {
    width: 200px;
    height: 40px;
    float: left;
}

.text-box .phone-ipt input {
    border: none;
    width: 197px;
    /* background-color: #fcf; */
    height: 40px;
    font-size: 16px;
    padding: 0 15px;
    line-height: 40px;
    outline: 0;
}

.reg-api {
    width: 298px;
    height: 40px;
    /* background-color: #cfc; */
    margin-top: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.reg-api .leida {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/jy_leida.png)no-repeat;
    float: left;
}

.reg-api .text {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 218px;
    text-align: center;
    float: left;
    color: #666;
    background: linear-gradient(to top, #f3f3f3, #fefefe);
}

.reg-api .logo {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/jy_gee_logo.png)no-repeat;
    float: left;
}

.reg-api .true {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/jy_true.png)no-repeat;
    float: left;
}

.reg-api .text2 {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 218px;
    text-align: center;
    float: left;
    color: #18a452;
    background: #EEFFF5;
}

.reg-api .logo2 {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/jy_gee_logo_true.png)no-repeat;
    float: left;
}

.prodocol {
    font-size: 12px;
    color: #515151;
    margin-top: 20px;
}

.prodocol .circle-chk {
    background-image: url(../images/jy_ico_checkbox_unSelected.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 0 8px 5px 0;
    cursor: pointer;
    user-select: none;
}

.prodocol a {
    padding: 0 3px;
    color: #387aff;
}

.tip-code {
    display: none;
    margin-top: 20px;
    color: #666;
    font-size: 12px;
    line-height: 20px;
}

.tip-code .tip-area {
    padding: 0 3px;
    color: #387aff;
}

.tip-code .phone-num {
    color: #387aff
}

.reg-code {
    width: 298px;
    height: 40px;
    /* background-color: #cfc; */
    margin-top: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: none;
}

.ipt-code {
    width: 108px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 10px 10px;
    font-size: 16px;
    color: #909090;
    outline: 0;
    border: 0;
    border-right: 1px solid #ddd;
    float: left;
}

.get-code {
    display: block;
    width: 169px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* padding: 0 20px; */
    font-size: 16px;
    color: #909090;
    float: left;
    border: none;
    background: #fff;
    outline: 0;
    cursor: pointer;
}

.get-code:hover {
    color: #387aff;
}

.res-btn {
    width: 300px;
    height: 46px;
    background-color: #387aff;
    text-align: center;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 20px;
}

.next-step {
    display: none;
    width: 300px;
    height: 46px;
    background-color: #387aff;
    text-align: center;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 20px;
}

.already-reg {
    display: none;
    text-align: center;
}

.already-reg .already-tip-area {
    font-size: 16px;
    color: #000;
    padding: 0 3px;
    margin-top: 20px;
}

.already-reg .already-phone-num {
    font-size: 16px;
    color: #000;
}

.already-reg p {
    text-align: center;
    font-size: 14px;
    color: #909090;
    margin-top: 10px;
}

.ready-login {
    display: none;
    width: 300px;
    height: 46px;
    background-color: #387aff;
    text-align: center;
    font-size: 16px;
    line-height: 46px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 20px;
}

.ready-login a {
    color: #fff;
}

.tip-pwd {
    display: none;
    margin-top: 20px;
    color: #666;
    font-size: 12px;
    line-height: 20px;
}

.reg-pwd {
    width: 298px;
    height: 40px;
    /* background-color: #cfc; */
    margin-top: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: none;
    position: relative;
}

.ipt-pwd {
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
    color: #909090;
    outline: 0;
    border: 0;
}

.look-pwd {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/jy_eye.png)no-repeat;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 7px;
}

.submit {
    display: none;
    width: 300px;
    height: 46px;
    background-color: #387aff;
    text-align: center;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 20px;
}

.login-btn {
    height: 30px;
    /* background-color: #dca; */
    margin-top: 20px;
}

.login-btn a {
    color: #387aff;
}

.register {
    height: 30px;
    /* background-color: #dca; */
    margin-top: 20px;
    display: none;
}

.register a {
    color: #387aff;
}